.row.row-cols-1.row-cols-md-2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.percent {
  color: var(--title-highlight);
}

.progress {
  height: 2px;
  background-color: #3f3f3f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: var(--title-highlight);
}

.title {
  margin-bottom: -5px !important;
}

@media only screen and (max-width: 767px) {
  .rPanel {
    height: 100% !important;
  }
  .mb-spaced {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: unset !important;
  }
}

@media only screen and (min-width: 768px) {
  .rPanel {
    height: 100% !important;
  }
  .mb-spaced {
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: unset !important;
  }
}

@media only screen and (min-width: 992px) {
  .mb-spaced {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center !important;
  }
}
