<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-12 col-lg-4 bg-a1 panel lPanel">
      <div class="mid-container">
        <h1>Profile</h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 bg-a2 panel rPanel">
      <div class="mid-container top-spaced">
        <p>
          I’m a developer with more than
          <span class="highlight">3 years of experience</span> in carrying out
          private projects as a freelance (this last year directly in the
          banking sector).
        </p>

        <p>
          I have a strong knowledge of different
          <span class="highlight">design patterns</span> and
          <span class="highlight">software architectures</span>
          that allow the fulfillment of objectives.
        </p>

        <p>
          Additionally, I have a greater affinity towards
          <span class="highlight">backend development</span>, I like challenges
          and prove myself, to improve and learn new ways to solve problems.
        </p>

        <p>
          Excellent communication skills, always willing to
          <span class="highlight">listen and share</span>
          ideas with my teammates.
        </p>

        <p>
          Passionate about
          <span class="highlight">sharing knowledge and learning</span> new
          skills from everyone around me.
        </p>

        <p>
          Back-End knowledge such as Advanced
          <span class="highlight">Java</span> Native and Spring Boot (Batch
          processing and Micro services REST API), Intermediate
          <span class="highlight">PHP</span> and Laravel (REST API),
          Intermediate <span class="highlight">PL/SQL</span>, Basic Python.
        </p>

        <p>
          Front-End knowledge such as HTML5, CSS3, Javascript (mainly Angular)
        </p>

        <p>
          Basic knowledge on <span class="highlight">shell commands</span> for
          Windows and Unix based OS, including AIX (Unix OS from IBM).
        </p>

        <p>
          I am an enthusiastic, self-taught and development-focused person.
          Faithful follower of <span class="highlight">good practices</span> and
          with great <span class="highlight">logic</span> skills for algorithm
          development.
        </p>
        <p>
          I possess an excellent ability to
          <span class="highlight">work in a team</span>; with a passion for
          teaching and training in development, and the necessary perception to
          learn from more experienced people.
        </p>
      </div>
    </div>
  </div>
</div>
