<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-12 col-lg-4 bg-a1 panel lPanel">
      <div class="mid-container">
        <h1>Perfil</h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 bg-a2 panel rPanel">
      <div class="mid-container">
        <p>
          Soy una persona entusiasta, autodidacta y enfocada al desarrollo. Fiel
          seguidor de las <span class="highlight">buenas prácticas</span> y con
          grandes habilidades de la <span class="highlight">lógica</span> para
          el desarrollo de algoritmos.
        </p>
        <p>
          Poseo una excelente capacidad para
          <span class="highlight">trabajar en equipo</span>; con pasión por
          enseñar y capacitar en desarrollo, y la percepción para aprender de
          personas más experimentadas.
        </p>
      </div>
    </div>
  </div>
</div>
