<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-12 col-lg-4 bg-a1 panel lPanel">
      <div class="mid-container">
        <h1>Profile</h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 bg-a2 panel rPanel">
      <div class="mid-container">
        <p>
          I am an enthusiastic, self-taught and development-focused person.
          Faithful follower of <span class="highlight">good practices</span> and
          with great <span class="highlight">logic</span> skills for algorithm
          development.
        </p>
        <p>
          I possess an excellent ability to
          <span class="highlight">work in a team</span>; with a passion for
          teaching and training in development, and the necessary perception to
          learn from more experienced people.
        </p>
      </div>
    </div>
  </div>
</div>
