<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-12 col-md-12 col-lg-4 bg-a1 panel lPanel">
      <div class="mid-container">
        <div class="profile-image"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 bg-a2 panel rPanel">
      <div class="mid-container mb-spaced">
        <div class="firstName">Carlos</div>
        <div class="secondName">Moreno</div>
        <div class="jobTitle">Fullstack Developer</div>
      </div>
      <div class="contact panel">
        <div class="row">
          <div class="col-sm-12">
            <hr />
          </div>
        </div>
        <div class="row text-center contact-info">
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <h6>Ubicación</h6>
            <div class="spacing">
              Bogotá D.C., Colombia
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <h6>Teléfono</h6>
            <div class="spacing">
              <a href="tel:+573165378432">+57 316 537 8432</a>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <h6>Correo</h6>
            <div class="spacing">
              <a href="mailto:gkentaurus@outlook.com">gkentaurus@outlook.com</a>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-3">
            <h6>GitHub</h6>
            <div class="spacing">
              <a href="https://github.com/GKentaurus"> /GKentaurus </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
