<div class="container-fluid">
  <div class="row full-height">
    <div class="col-sm-4 bg-a1 panel lPanel">
      <div class="mid-container">
        <div class="profile-image"></div>
      </div>
    </div>
    <div class="col-sm-8 bg-a2 panel rPanel">
      <div class="mid-container">
        <div class="firstName">Carlos</div>
        <div class="secondName">Moreno</div>
        <div class="jobTitle">Fullstack Developer</div>
      </div>
      <div class="contact panel">
        <div class="row">
          <div class="col">
            <hr />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h5>Ubicación</h5>
            Bogotá D.C., Colombia
          </div>
          <div class="col">
            <h5>Teléfono</h5>
            <a href="tel:+573165378432">+57 316 537 8432</a>
          </div>
          <div class="col">
            <h5>Correo</h5>
            <a href="mailto:camorenoc@outlook.com">camorenoc@outlook.com</a>
          </div>
          <div class="col">
            <h5>GitHub</h5>
            <a href="https://github.com/GKentaurus"> /GKentaurus </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
