.profile-image {
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
}

.firstName {
  font-weight: 100;
  text-transform: lowercase;
}

.secondName {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--title-highlight);
}

.jobTitle {
  font-weight: 200;
  letter-spacing: 10px;
  word-spacing: 10px;
}

.contact {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

div.col {
  padding: 10px;
  margin: 0px 20px 30px 20px;
  margin-left: 30px;
  color: lightgray;
}

a {
  color: lightgray;
  text-decoration: none;
}

hr {
  background-color: lightgray;
}

h6 {
  padding-top: 10px !important;
  padding-bottom: -10px !important;
  font-weight: bold;
  color: white;
}

@media only screen and (max-width: 767px){
  .profile-image {
    width: 150px;
    height: 150px;
  }

  .firstName {
    font-size: 7vh;
    margin-bottom: -2.5vh;
  }

  .secondName {
    font-size: 8vh;
    margin-top: -2.5vh;
  }

  .jobTitle {
    font-size: 3vh;
  }

  .rPanel {
    text-align: center !important;
    min-height: 70vh;
    height: 100% !important;
  }

  .mb-spaced {
    padding-top: 30px;
    justify-content: unset !important;
  }
}

@media only screen and (min-width: 768px){
  .profile-image {
    width: 180px;
    height: 180px;
  }

  .firstName {
    font-size: 5vh;
    margin-bottom: -1.5vh;
  }

  .secondName {
    font-size: 6vh;
    margin-top: -1.5vh;
  }

  .jobTitle {
    font-size: 3vh;
  }

  .rPanel {
    text-align: center !important;
    min-height: 70vh;
    height: 100% !important;
  }

  .mb-spaced {
    padding-top: 100px;
    justify-content: unset !important;
  }
}

@media only screen and (min-width: 992px){
  .profile-image {
    width: 250px;
    height: 250px;
    margin-right: 0px;
  }

  .firstName {
    font-size: 7vh;
  }

  .secondName {
    font-size: 8vh;
  }

  .jobTitle {
    font-size: 3vh;
  }

  .rPanel {
    text-align: left !important;
    min-height: 70vh;
    height: 100% !important;
  }

  .mb-spaced {
    padding-top: 0px;
    justify-content: center !important;
  }
}
