.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  margin-right: 0px;
}

.firstName {
  font-size: 7vh;
  font-weight: 100;
  margin-bottom: -2.5vh;
  text-transform: lowercase;
}

.secondName {
  font-size: 8vh;
  font-weight: 600;
  margin-top: -2.5vh;
  text-transform: uppercase;
  color: var(--title-highlight);
}

.jobTitle {
  font-size: 3vh;
  font-weight: 200;
  letter-spacing: 10px;
  word-spacing: 10px;
}

.contact {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.contact-info {
  font-size: 2vh;
}

div.col {
  padding: 10px;
  margin: 0px 20px 30px 20px;
  margin-left: 30px;
  color: lightgray;
}

a {
  color: lightgray;
  text-decoration: none;
}

hr {
  background-color: lightgray;
}

h5 {
  font-weight: bold;
  color: white;
}


/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1440px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1920px) {
/* Styles */
}
