.card {
  text-align: center;
  background-color: #434343 !important;
  border: 0px !important;
  transition: all .2s ease-in-out;
  margin-bottom: 10px;
}

.card:hover {
  background-color: #505050 !important;
}

.highlight {
  color: var(--title-highlight) !important;
}

.fa-icon-custom {
  font-size: 3em !important;
}

h5 {
  margin-bottom: 30px;
}

h6 {
  text-transform: uppercase;
  /* margin-top: 10px; */
}

a {
  color: white;
  transition: all .2s ease-in-out;
}

a:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: var(--title-highlight);
}

span {
  color: darkgrey;
}

@media only screen and (max-width: 767px){
  .card-title {
    display: none;
  }
}

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){

}
