:root {
  --panel-bg-color-a1: #2b2c2c;
  --panel-bg-color-a2: #2d2e2e;
  --panel-bg-color-b1: #292a2a;
  --panel-bg-color-b2: #2b2c2c;
  --title-highlight: #ffc400;
}

html,
body {
  background-color: #292a2a !important;
  color: lightgray !important;
}

.bg-a1 {
  background-color: var(--panel-bg-color-a1);
}

.bg-a2 {
  background-color: var(--panel-bg-color-a2);
}

.bg-b1 {
  background-color: var(--panel-bg-color-b1);
}

.bg-b2 {
  background-color: var(--panel-bg-color-b2);
}

.panel {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.mid-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr {
  background-color: grey;
}

ul.component {
  margin-bottom: -5px;
}

ul.component > li {
  list-style-type: none;
  margin-left: -20px;
}

@media only screen and (max-width: 767px){
  .lPanel {
    min-height: 30vh;
    height: 30vh;
    text-align: center;
  }

  .rPanel {
    min-height: 70vh;
    height: 70vh;
    text-align: left;
  }

  .panel {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
}

@media only screen and (min-width: 768px){
  .lPanel {
    min-height: 30vh;
    height: 30vh;
    text-align: center;
  }

  .rPanel {
    min-height: 70vh;
    height: 70vh;
    text-align: left;
  }
}

@media only screen and (min-width: 992px){
  .full-height {
    height: 100vh !important;
  }

  .lPanel {
    text-align: right;
    height: 100vh;
  }

  .rPanel {
    text-align: left;
    height: 100vh;
  }
}
