li::first-letter {
  color: var(--title-highlight);
}

.job {
  color: white !important;
}

.title {
  color: var(--title-highlight);
}

.worktime {
  margin-top: -10px;
  /* text-decoration: underline; */
}
